/* #### start Variables #### */
body.light,
*::after,
*::before {
    --text: #0f0821;
    --background: #f5f5f7;
    --primary: #41208d;
    --secondary: #d2c5f2;
    --accent: #41208d;
}
body,
*::after,
*::before {
--section-bg-primary: #16161a;
--section-bg-secondary: #242629;
--paragraph-color : #94a1b2;
--box-bg: #7f5af0;
--title-color: #fffffe;
--border-color : #010101;
--extra-color-1: #72757e;
--extra-color-2: #2cb67d;
}
/* #### End Variables #### */

/* #### Start Global Rules #### */
* ,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-weight: 300;
    overflow-y: scroll;
    font-family: 'Inter', sans-serif;
    color: #fff;
    position: relative;
    background: transparent;
}
body::before {
    content: "";
    position: fixed;
    background: radial-gradient(ellipse at bottom,#1b2735 0,#090a0f 100%);
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}
body.light::before {
    background: var(--background)
    /* background: radial-gradient(ellipse at bottom,#3f6ea3 0,#090a0f 100%); */
  }
body.light {
    color: var(--text);
}

/* #### End Global Rules #### */

/* #### Start Componants #### */
.container {
    width: 1000px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: auto;
    margin-right: auto;
}
.flex-2center ,
.flex-alignCenter {
    display: flex;
    align-items: center;
}
.flex-2center {
    justify-content: center;
}
.special {
   color:  #4ceb95;
}
body.light .special {
    color: var(--primary)
}
.grid-col-auto {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax( 300px , 1fr));
}
.box {
    background: rgba(0,0,0,0.6);
    padding: 30px;
    margin-top: 20px;
}
body.light .box {
    background: var(--secondary)

}
.section-title h3 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaa;
}
body.light .section-title h3 {
    color: var(--text);
}
.section-title h3::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4ceb95;
    margin: 4px 10px;
}
body.light .section-title h3::after {
    background: var(--primary);
}
.section-title p {
    margin: 0;
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
body.light .section-title p {
    color: var(--text);
}
/* #### End Componants #### */


/* ######## - HEADER - ######## */

/* #### START DESKTOP NAV #### */
.nav-container {
    background: var(--section-bg-primary);
    position: fixed;
    backdrop-filter: saturate(180%) blur(20px);
    top: 0;
    right: 0;
    left: 0;
    height: 44px;
    z-index: 300;
}
body.light .nav-container {
    background: rgba(240,240,240,0.8);
}
.nav-container nav {
    width: 1000px;
    margin: 0 auto;
    padding: 0 8px;
    height: 100%;
}
nav .desktop-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
nav .desktop-nav li a {
    text-decoration: none;
    font-size: 16px;
    opacity: 0.8;
    transition: opacity 400ms;
    color: white;

}
body.light nav .desktop-nav li a {
    color: rgb(0, 0, 0);
  }
body.light nav .desktop-nav li a:hover ,
nav .desktop-nav li a:hover {
    opacity: 1;
}

.link-logo {
    display: block;
    background: url(images/dark/code-dark.png);
    background-position: center;
    width: 22px;
    height: 44px;
    background-repeat: no-repeat;
    background-size: contain;

}
body.light .link-logo {
    display: block;
    background: url(images/light/code-light.png);
    background-position: center;
    width: 22px;
    height: 44px;
    background-repeat: no-repeat;
    background-size: contain;
}
.link-search {
    background: url(images/dark/search-icon.svg); 
}
body.light .link-search {
    background: url(images/light/search-icon.svg); 
}

.link-close {
    background: url(images/dark/close-icon.svg);  
}
body.light .link-close {
    background: url(images/light/close-icon.svg);  
}

body.light .link-close , body.light .link-search ,
.link-search , .link-close {
    display: block;
    width: 20px;
    height: 44px;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
}
/* ##### START : Dark/Light Mode Switcher ##### */

.theme-switch-label {
    display: block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
  }
  
  .theme-switch-icon {
    position: absolute;
    top: 50%;
    left: 2px;
    width: 16px;
    height: 16px;
    transform: translate(0, -50%);
    background-image: url(images/dark/moon-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease-in-out;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked + .theme-switch-label {
    background-color:var(--secondary)
  }
  
  input[type="checkbox"]:checked + .theme-switch-label .theme-switch-icon {
    transform: translate(20px, -50%);
    background-image: url(images/light/sun-icon.png); /* Replace with your moon icon */
  }
 
/* ##### END : Dark/Light Mode Switcher ##### */

/* #### END DESKTOP NAV #### */

/* #### START SEARCH CONTAINER #### */
/* -- search bar */
.search-container.hide {
    opacity: 0;
    pointer-events: none;
}
.search-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 60%;
    margin: 0 auto;
    padding: 0 42px;
    z-index: 200;
}
.search-container .link-search {
    position: absolute;
    left: 12px;
    opacity: 0.5;
}
.search-container .search-bar form {
    width: 100%;
    margin: 0 auto;
}
.search-container .search-bar form input {
    width: 100%;
    height:44px;
    outline: none;
    background: transparent;
    color: #fff;
    border: 0;
    font-size: 17px;
    padding: 0 14px;
}
body.light .search-container .search-bar form input {
    color: var(--text);

}
.search-container .link-close {
    position: absolute;
    top: 0;
    right: 12px;
    opacity: 0.5;
    cursor: pointer;
    transition: all 400ms;
}
.search-container .link-close:hover {
    opacity: 0.7;
}
/* -- Quick links */
.search-container .quick-links {
    position: absolute;
    left: 0;
    right: 0;
    padding: 16px 8px;
    background: #fff;
    border-radius: 0 0 16px 16px;
}
.search-container .quick-links h2 {
    text-transform: uppercase;
    font-size:12px ;
    color: #6e6e73;
    margin: 0 32px;
    margin-top: 10px;
}
.search-container .quick-links ul {
    list-style: none;
    margin-top: 12px
}
.search-container .quick-links ul li a {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: #1d1d1f ;
    text-decoration: none;
    padding: 8px 50px;
    font-weight: 400;
}
.search-container .quick-links ul li a:hover {
    background: #f5f5f5;
    color: #2997ff;
}
/* #### END SEARCH CONTAINER #### */

/* overlay show */
.overlay.show {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.48);
    width: 100%;
    height: 100vh;
    z-index: 100;
}

/* #### START ANIMATION #### */
/* Desktop Navigation ANIMATION */
.desktop-nav li {
    transition: all 400ms ease;
}

.desktop-nav.hide li{
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
}

/* Overlay ANIMATION */
.overlay {
    transition: all 400ms ease;
}
/* Navigation Menu Items Transition Delay */
.desktop-nav li:nth-of-type(1),
.desktop-nav.hide li:nth-of-type(10)  {
    transition-delay: 0ms;
}
.desktop-nav li:nth-of-type(2),
.desktop-nav.hide li:nth-of-type(9)  {
    transition-delay: 30ms;
}
.desktop-nav li:nth-of-type(3),
.desktop-nav.hide li:nth-of-type(8)  {
    transition-delay: 60ms;
}
.desktop-nav li:nth-of-type(4),
.desktop-nav.hide li:nth-of-type(7)  {
    transition-delay: 90ms;
}
.desktop-nav li:nth-of-type(5),
.desktop-nav.hide li:nth-of-type(6)  {
    transition-delay: 120ms;
}
.desktop-nav li:nth-of-type(6),
.desktop-nav.hide li:nth-of-type(5)  {
    transition-delay: 150ms;
}
.desktop-nav li:nth-of-type(7),
.desktop-nav.hide li:nth-of-type(4)  {
    transition-delay: 180ms;
}
.desktop-nav li:nth-of-type(8),
.desktop-nav.hide li:nth-of-type(3)  {
    transition-delay: 210ms;
}
.desktop-nav li:nth-of-type(9),
.desktop-nav.hide li:nth-of-type(2)  {
    transition-delay: 240ms;
}
.desktop-nav li:nth-of-type(10),
.desktop-nav.hide li:nth-of-type(1)  {
    transition-delay: 270ms;
}

/* Search Container ANIMATION */
.search-container.hide  form,
.search-container.hide .link-search {
    opacity: 0;
    transform: translateX(50px);
}
.search-container form ,
.search-container .link-search {
    opacity: 1;
    transform: translateX(0px);
    transition: all 400ms ease;
    transition-delay: 300ms;
}

.search-container.hide .link-close {
    opacity: 0;
}   
.search-container .link-close {
    transition: all 400ms ease;
    opacity: 0.5;
    transition-delay: 400ms;
}

.search-container.hide .quick-links h2 {
    opacity: 0;
    transform: translateX(50px);
}
.search-container .quick-links h2 {
    opacity: 1;
    transform: translateX(0px);
    transition: all 400ms ease;
    transition-delay: 100ms;
}

.search-container.hide .quick-links ul li {
    opacity: 0;
    transform: translateX(60px);
}
.search-container .quick-links ul li {
    opacity: 1;
    transform: translateX(0px);
    transition: all 400ms ease;
}
.search-container .quick-links ul li:nth-of-type(1) {
    transition-delay: 120ms;
}
.search-container .quick-links ul li:nth-of-type(2) {
    transition-delay: 140ms;
}
.search-container .quick-links ul li:nth-of-type(3) {
    transition-delay: 160ms;
}
.search-container .quick-links ul li:nth-of-type(4) {
    transition-delay: 180ms;
}
.search-container .quick-links ul li:nth-of-type(5) {
    transition-delay: 200ms;
}
/* #### END ANIMATION #### */

/* #### HIDE Items */
.mobile-nav , 
.mobile-search-container {
    display: none;
}

/* #### Media query #### */
@media (max-width: 1100px) {
    .container , .nav-container nav {
        width : 100%;
        padding :0 33px ;
    }
    .box {
        padding-top: 33px;
        padding-bottom: 33px;
    }
    
  
}
@media (max-width: 320px) {
    .grid-col-auto {
        grid-template-columns: repeat(auto-fill , minmax( 254px , 1fr));
    }
}
/* ## Media query - Mobile version */
@media (max-width: 768px) {
    .nav-container .desktop-nav {
        flex-direction: column;
        background-color: #000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        justify-content: flex-start;
        height: 0vh;
        overflow: hidden;
        z-index: -1;
        transition: all 1000ms ease;
    }
    body.light .nav-container .desktop-nav {
        background-color: var(--secondary);

    }
    .nav-container.active .desktop-nav {
        height: 100vh;
    }
    .nav-container .desktop-nav li {
        width: 100%;
        padding: 0 32px;
    }
    .nav-container .desktop-nav li:first-child {
        margin-top: 120px;
    }
    .nav-container .desktop-nav .link-logo,
    .nav-container .desktop-nav .link-search,
    .nav-container .desktop-nav .theme-switch-label {
        display: none;
    }
    .nav-container .desktop-nav li a {
        display: inline-block;
        width: 100%;
        padding: 16px 0;
        font-size: 17px;
        border-bottom: 1px solid #616161;
        transform: translateY(-80px);
        opacity: 0;
        transition: all 700ms ease;
    }
    body.light .nav-container .desktop-nav li a {
        border-bottom: 1px solid #1d1d1e;
    }
    body.light .nav-container .desktop-nav li a,
    .nav-container.active .desktop-nav li a {
        transform: translateY(0);
        opacity: 1;
    }
    /* mobile nav */
    nav .mobile-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 100%;
    }
    nav .mobile-nav .menu-icon-container {
        display: flex;
        width: 20px;
        height: 44px;
        align-items: center;
        cursor: pointer;
    }
    nav .menu-icon {
        position: relative;
        width: 100%;
    }
    nav .menu-icon .line-1 , 
    nav .menu-icon .line-2 {
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #fff;
        transition-property: transform , top;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }
    body.light nav .menu-icon .line-1 , 
    body.light nav .menu-icon .line-2 { 
        background-color: #000;

    }
    nav .menu-icon .line-1 {
        top : -4px
    }
    nav .menu-icon .line-2 {
        top : 4px
    }
    .nav-container.active nav .menu-icon-container .menu-icon .line-1{
        top : 0;
        transform: rotateZ(45deg);
        transition-property: top , transform;
        transition-delay: 0ms ,160ms;
        transition-duration: 200ms;
    }
    .nav-container.active nav .menu-icon-container .menu-icon .line-2{
        top : 0;
        transform: rotateZ(-45deg);
        transition-property: top , transform;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }

    /* Bag Icon Animation  */
    .nav-container.active .mobile-nav .theme-switch-label {
        transform: translateY(8px);
        opacity: 0;
        pointer-events: none;
        transition: all 1000ms ease;
    }

    /* search box */
    .mobile-search-container input {
        width: 100%;
        padding: 12px 36px;
        font-size: 17px;
        background: #1b1b1b;
        color: #fff;
        border: 0;
        border-radius: 8px;
        outline: none;
    }
    .mobile-search-container {
        position: relative;
        padding: 0 16px;
        margin-top: -30px;
        border-bottom: 1px solid #616161;
        display: flex;
        align-items: center;
        padding-bottom: 16px;
        transform: rotateX(90deg);
        transition: all 600ms ease;
        opacity: 0;
    }
    .nav-container.active .mobile-search-container {
        transform: rotateX(0deg);
        margin-top: 10px;
        opacity: 1;

    }

    .mobile-search-container .link-search {
        position: absolute;
        left: 24px;
        opacity: 0.5;
        background-size: 15px;
    }

    /* nav move up */
    .nav-container nav.move-up  {
        margin-top: -40px;
    }

    /* cancel button */
    .mobile-search-container .cancel-btn {
        color: #2997ff;
        font-size: 17px;   
        font-weight: 400;
        cursor: pointer;
        width: 0;
        overflow: hidden;
        transition: all 400ms ease;
    }
    body.light .mobile-search-container .cancel-btn {
        color: var(--text);
    }
    .mobile-search-container .search-bar.active + .cancel-btn {
        width: 74px;
        padding: 0 16px;
    }

    .mobile-search-container .search-bar {
        flex: 1;
    }

    /* desktop nav move down */
    nav .desktop-nav.move-down li:first-child {
        margin-top: 150px;
    }
    nav .desktop-nav.move-down li {
        opacity: 0;
        pointer-events: none;
    }

    /* Quick Links */

    .mobile-search-container .search-bar.active ~ .quick-links {
        top: 80px;
        opacity: 1;
        pointer-events: auto;
        transition-delay: 40ms;
    }

    .mobile-search-container .quick-links {
        position: absolute;
        left: 0;
        right: 0;
        padding: 0 32px;
        opacity: 0;
        pointer-events: none;
        top:10px;
        transition: all 400ms ease;
    }
    .mobile-search-container .quick-links h2 {
        color: #86868b;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
    }
    body.light .mobile-search-container .quick-links h2 {
        color: #1d1d1e;

    }
    .mobile-search-container .quick-links ul {
        list-style: none;
    }
    .mobile-search-container .quick-links ul li a{
        display: inline-block;
        color: #fff;
        font-size: 14px;
        text-transform: capitalize;
        text-decoration: none;
        padding: 16px 0;
        border-bottom: 1px solid #616161;
        width: 100%;
    }
    body.light .mobile-search-container .quick-links ul li a {
        color: var(--text);
        border-bottom: 1px solid #1d1d1e;

    }
    body.light .mobile-search-container .quick-links ul li a:hover ,
    .mobile-search-container .quick-links ul li a:hover {
        color: #2997ff;
    }
    /* Nav Animation */
    .nav-container nav {
        transition: all 400ms ease;
    }
    /* landing page */
    .landing-container {
        text-align: center;
    }
   
}
input, 
div,
span,
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* ######## - END HEADER - ######## */

/* ######## - START LANDING - ######## */
.landing {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: calc(100vh - 44px);
    color: rgb(255 255 255/1);
    margin-top: 44px; 

}
body.light .landing {
    color: var(--text);
}
.landing-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* line-height: 1.3; */

}
.landing .avatar {
    max-width: 150px;
    margin-right: 1rem;
}
.landing .avatar img {
    width: 100%
}
.social-icons {
    display: flex;
    justify-content: space-between;
    margin: 2px 0;
    padding: 3px;
}
.social-icons a {
    font-size: 20px;
    color: #4ceb95;
}
body.light .social-icons a {
    color: var(--primary);
}

.landing .intro-text h1 {
    font-size: 2rem;
}
.landing .intro-text h1 i{
    color: red;
}
body.light .landing .intro-text h1 i{
    color: var(--primary);
}

.landing .intro-text p {
    font-size: 1.125rem; 
    color : rgb(189 189 189/1); 
    padding: 1rem 0;

}
body.light .landing .intro-text p {
    color : var(--text)
}
.landing .intro-text a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #4ceb95;
    background: transparent;
    padding: 12px 24px;
    border: 1px solid #4ceb95;
    
}

body.light .landing .intro-text a  {
    color: var(--primary);
    border: 1px solid var(--primary);
}
.landing .intro-text a:hover {
    color: black;
    background-color: #4ceb95;
}
body.light .landing .intro-text a:hover {
    color: white;
    background-color: var(--primary);
}

@media (max-width: 425px ) {
    .landing .intro-text h1 {
        font-size: 1.5rem;
    }
}
/* ######## - END LANDGING - ######## */

/* ######## - START SKILLS - ######## */

.skills .carousel-container {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    margin: 35px auto;
    overflow: hidden;
    padding: 30px 0;
  }
  
.skills .carousel-container .carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 auto; */
    width: 100%;
    height: 80px;
}

.skills .carousel-container .carousel .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
.skills .carousel-container .carousel .logo:hover i {
    opacity: 1;

}
.skills .carousel-container .carousel .logo i {
    font-size: 55px;
    opacity: 0.9;
    cursor: pointer;

}
@media (max-width: 768px ) {
    .skills .carousel-container .carousel .logo i {
        font-size: 45px;
    }
}


.skills .carousel-container .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.skills .carousel-container .controls button {
    opacity: 0.8;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid white;
    background: transparent;
    color: white;
    padding: 4px 15px;
}
body.light .skills .carousel-container .controls button {
    border: 1px solid var(--primary);
    color: var(--primary);
}
.skills .carousel-container .controls button:hover ,
.skills .carousel-container .controls button:focus {
    opacity: 1;
    background-color: white;
    color: black;
}
body.light .skills .carousel-container .controls button:hover ,
body.light .skills .carousel-container .controls button:focus {
    background-color: var(--primary);
    color: white;
}

  
/* ######## - END SKILLS - ######## */


/* ######## - START Portfolio - ######## */

.projects .card-container {
    grid-gap: 10px;
}
.projects .card-container .card {
    background: rgb(12 11 26 / 60%);
    border: 1px solid #161c28;
    padding: 10px;
    transition: transform 300ms ease;
}
body.light .projects .card-container .card {
    background: rgba(225, 225, 225, 0.5);
    border: 1px solid rgb(255 255 255 / 50%);
}
.projects .card-container .card:hover,
.projects .card-container .card:focus {
    transform: scale(1.02);

}
.projects .card .card-img {
    padding: 8px 0;
}
.projects .card img{
    max-width: 100%;
}
.projects .card .card-btns{
    display: flex;
    
}
.projects .card .card-btns a {
    /* display: inline-block; */
    flex-grow: 1;
    text-align: center;
    padding: 5px;
    background: transparent;
    border: 1px solid #4ceb95;
    text-decoration: none;
    font-size: 14px;
    color: #4ceb95;
}
body.light .projects .card .card-btns a {
    border: 1px solid var(--primary);
    color: var(--primary);

}
.projects .card .card-btns a:first-child {
    margin-right: 8px;
}
.projects .card .card-btns a:hover {
    color: black;
    background: #4ceb95;
}
body.light .projects .card .card-btns a:hover {
    color: white;
    background: var(--primary);
}
.projects .card h3 {
    color: #4ceb95;
    padding-bottom: 5px;
}
body.light .projects .card h3 {
    color: var(--primary);
}
.projects .card p {
    color: rgb(189 189 189/1);
}
body.light .projects .card p {
    color: var(--text);
}
/* ######## - END Portfolio - ######## */

/* ##### Start About ##### */
.about .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.about .about-content .image {
    height: 250px;
    margin-right: 35px;
    position: relative;
}
.about .about-content .image::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border: 5px solid;
    border-right: 0;
    border-bottom: 0;
    top: -10px;
    left: -10px;
    z-index: 1;
}
.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border: 5px solid;
    border-left: 0;
    border-top: 0;
    bottom: -10px;
    right: -10px;
    z-index: 1;
}
.about .about-content .image img {
    max-height: 100%;
    border-radius: 50%;
    border: 2px solid;
}
.about .about-content .text p:first-of-type {
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
}
.about .about-content .text hr {
    display: inline-block;
    width: 50%;
    border-color:#4ceb95;
    margin-bottom: 5px;

}
body.light .about .about-content .text hr {
    border-color:var(--primary);
}
.about .about-content .text p:last-of-type {
    line-height: 1.6;
    color: rgb(189 189 189/1);
}
body.light .about .about-content .text p:last-of-type {
    color: var(--text)

}
@media (max-width: 768px) {
    /* About */
    .about .about-content {
        flex-direction: column;
    }
    .about .about-content .image {
        height: 200px;
        margin: 0 0 15px 0;    
    }
}

/* ######## - End About - ######## */

/* ######## - START Articles - ######## */
.article .container div:last-child {
   padding-top: 8px;
}
.article .container .box-link {
    /* font-weight: bold; */
    display: block;
    width: fit-content;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-left: 19px;
}

body.light .article .container .box-link {
    color: var(--text);
}
.article .container .box-link:not(:last-child) {
    margin-bottom: 24px;

}
.article .container .box-link span{
    position: relative;
    z-index: 1;
}
.article .container .box-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: -19px;
    height: 25px;
    width: 25px;
    border: 12px solid ;
    border-color: transparent transparent transparent #2997ff;
}
body.light .article .container .box-link::after {
    border-color: transparent transparent transparent var(--primary);

}
.article .container .box-link::before {
    content: "";
    width: 40px;
    height: 100%;
    background-color:#2997ff ;
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px 10px;
    transition: 0.3s;
}
body.light .article .container .box-link::before {
    background-color:var(--primary)
}
.article .container .box-link:hover::before {
   width: 100%;
}

/* ######## - END Articles - ######## */


/* ######## - START Contact - ######## */
.contact .info {
    text-align: center; 
    padding: 20px 0;
}

.contact .info .label {
    font-size: 35px;
    font-weight: 600;
    /* color: var(--secondary-color); */
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: -2px;
    text-decoration: none;
    display: block;
}

.contact .info .social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* color: var(--secondary-color); */
    font-size: 19px;
    font-weight: bold;
    margin-top: 20px;
}
.contact .social i {
    color: #4ceb95;
    margin-left: 6px;
}
body.light .contact .social i {
    color: var(--primary);

}
@media (max-width: 768px ) {
    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
        letter-spacing: -1.5px;
    } 
}
/* ######## - END Contact - ######## */

/* ######## - START footer - ######## */
.footer {
    background: rgba(0,0,0,0.6);
    margin-top: 20px;
    padding: 15px 10px;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    color: white;
}
.footer .special {
    font-weight: 600;
}
body.light .footer  {
    background: var(--secondary);
    color: var(--text);

}
/* ######## - END footer - ######## */





